@{
    Layout = "_LayoutPage";
    ViewData["Title"] = "حریم خصوصی کاربران";
}

<!-- Start Privacy -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow rounded border-0">
                    <div class="card-body">
                        <h5 class="card-title">بررسی:</h5>
                        <p class="text-muted">به نظر می رسد که تنها تکه هایی از متن اصلی در متن لورم اپیسوم که امروزه استفاده می شود باقی مانده است. می توان حدس زد که در طول زمان حروف خاصی به موقعیتهای مختلف متن اضافه یا حذف شده اند.</p>
                        <p class="text-muted">فقط به دلیل  1960s, متن به طور ناگهانی فراتر از دایره حرفه ای حروفچینی و طراحان چیدمان زمانی که برای ورق های Letraset استفاده می شد (حروف چسب بر روی فیلم شفاف ، محبوب تا دهه 1980) شناخته شد. نسخه های متن متعاقباً در برنامه های DTP مانند PageMaker و غیره قرار گرفتند.</p>
                        <p class="text-muted">به نظر می رسد که تنها تکه هایی از متن اصلی در متن لورم اپیسوم که امروزه استفاده می شود باقی مانده است صرفاً برای پر کردن یک فضا. این گزینه ها برای متن های کلاسیک لورم اپیسوم اغلب سرگرم کننده هستند و داستان های کوتاه ، خنده دار یا مزخرفی را روایت می کنند.</p>

                        <h5 class="card-title">ما از اطلاعات شما استفاده می کنیم تا :</h5>
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-left" class="fea icon-sm me-2"></i>راه حل های بازاریابی دیجیتال برای فردا</li>
                            <li><i data-feather="arrow-left" class="fea icon-sm me-2"></i>آژانس بازاریابی با استعداد و با تجربه ما</li>
                            <li><i data-feather="arrow-left" class="fea icon-sm me-2"></i>پوست خود را متناسب با نام تجاری خود ایجاد کنید</li>
                            <li><i data-feather="arrow-left" class="fea icon-sm me-2"></i>راه حل های بازاریابی دیجیتال برای فردا</li>
                            <li><i data-feather="arrow-left" class="fea icon-sm me-2"></i>آژانس بازاریابی با استعداد و با تجربه ما</li>
                            <li><i data-feather="arrow-left" class="fea icon-sm me-2"></i>پوست خود را متناسب با نام تجاری خود ایجاد کنید</li>
                        </ul>

                        <h5 class="card-title">اطلاعات ارائه شده به طور داوطلبانه :</h5>
                        <p class="text-muted">فقط به دلیل  1960s, متن به طور ناگهانی فراتر از دایره حرفه ای حروفچینی و طراحان چیدمان زمانی که برای ورق های Letraset استفاده می شد (حروف چسب بر روی فیلم شفاف ، محبوب تا دهه 1980) شناخته شد. نسخه های متن متعاقباً در برنامه های DTP مانند PageMaker و غیره قرار گرفتند.</p>

                        <a href="javascript:window.print()" class="btn btn-soft-primary d-print-none">پرینت </a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Privacy -->